## Trabalho Linguagens de Programação - Biblioteca Pandas

Alunos: Barbara Rosa, Bruno Chimentão, Gabriel Vieira, Marcos Cemim

        - O Pandas é uma biblioteca de software livre para a linguagem de programação Python, projetada para facilitar a manipulação e análise de dados.

        - É construído sobre a biblioteca NumPy e fornece estruturas de dados fáceis de usar, como Series e DataFrame, que são essenciais para lidar com dados tabulares.

### Visualização de dados e tratamento de dados faltantes (Barbara)

In [1]:
# Baixando a biblioteca pandas
%pip install pandas

Requirement already satisfied: pandas in c:\users\mcemi\documents\mestrado\trabalho-pandas\.venv\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\mcemi\documents\mestrado\trabalho-pandas\.venv\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mcemi\documents\mestrado\trabalho-pandas\.venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\mcemi\documents\mestrado\trabalho-pandas\.venv\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\mcemi\documents\mestrado\trabalho-pandas\.venv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\mcemi\documents\mestrado\trabalho-pandas\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
# Importando a biblioteca pandas
import pandas as pd

In [3]:
# Importando a base de dados
dados = pd.read_csv('MOCK_DATA.csv', sep=',')
dados

,flight_number,departure_airport,arrival_airport,departure_date,departure_time,arrival_date,arrival_time,duration,airline,price
0,9210,JZH,SKC,3/16/2022,12:10 PM,9/23/2021,12:51 AM,6.84,Air France,68.02
1,1845,BNT,BMF,8/4/2022,12:21 AM,10/25/2021,1:22 AM,6.12,Delta,279.96
2,8694,EIN,TGZ,6/11/2021,11:54 PM,8/26/2022,9:36 AM,16.66,Delta,614.39
3,2167,NaN,NNL,11/7/2021,NaN,8/24/2021,6:34 PM,12.01,Southwest,735.86
4,2779,KNG,DRR,7/3/2022,NaN,6/6/2021,3:17 PM,22.04,Southwest,881.59
...,...,...,...,...,...,...,...,...,...,...
995,6165,STB,AEK,6/18/2021,3:50 AM,NaN,4:25 AM,13.67,Southwest,818.74
996,NaN,BHT,KHS,9/29/2022,6:00 AM,3/9/2021,1:06 PM,NaN,British Airways,705.21
997,7147,RLG,NaN,9/27/2021,9:35 AM,6/14/2021,5:14 AM,4.16,Qatar Airways,86.77
998,9666,UBA,TBU,2/20/2022,12:27 PM,2/8/2022,3:17 PM,8.38,United,217.99
999,4180,SVC,BRS,2/14/2021,12:58 PM,NaN,NaN,11.3,JetBlue,265.07

In [4]:
# visualizando os 5 primeiros registros
dados.head()

,flight_number,departure_airport,arrival_airport,departure_date,departure_time,arrival_date,arrival_time,duration,airline,price
0,9210,JZH,SKC,3/16/2022,12:10 PM,9/23/2021,12:51 AM,6.84,Air France,68.02
1,1845,BNT,BMF,8/4/2022,12:21 AM,10/25/2021,1:22 AM,6.12,Delta,279.96
2,8694,EIN,TGZ,6/11/2021,11:54 PM,8/26/2022,9:36 AM,16.66,Delta,614.39
3,2167,NaN,NNL,11/7/2021,NaN,8/24/2021,6:34 PM,12.01,Southwest,735.86
4,2779,KNG,DRR,7/3/2022,NaN,6/6/2021,3:17 PM,22.04,Southwest,881.59

In [5]:
# visualizando os 5 registros finais
dados.tail()

,flight_number,departure_airport,arrival_airport,departure_date,departure_time,arrival_date,arrival_time,duration,airline,price
995,6165,STB,AEK,6/18/2021,3:50 AM,NaN,4:25 AM,13.67,Southwest,818.74
996,NaN,BHT,KHS,9/29/2022,6:00 AM,3/9/2021,1:06 PM,NaN,British Airways,705.21
997,7147,RLG,NaN,9/27/2021,9:35 AM,6/14/2021,5:14 AM,4.16,Qatar Airways,86.77
998,9666,UBA,TBU,2/20/2022,12:27 PM,2/8/2022,3:17 PM,8.38,United,217.99
999,4180,SVC,BRS,2/14/2021,12:58 PM,NaN,NaN,11.3,JetBlue,265.07

In [6]:
# verificando o tipo da variavel dados
type(dados)

pandas.core.frame.DataFrame

In [7]:
# visualizando a quantidade de linhas e colunas que nossa base possui
dados.shape

(1000, 10)

In [8]:
# visualizando quais são as colunas
dados.columns

Index(['flight_number', 'departure_airport', 'arrival_airport',
       'departure_date', 'departure_time', 'arrival_date', 'arrival_time',
       'duration', 'airline', 'price'],
      dtype='object')

In [9]:
# visualizando o tipo de dado de cada coluna e se há dados nulos
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   flight_number      962 non-null    object
 1   departure_airport  956 non-null    object
 2   arrival_airport    939 non-null    object
 3   departure_date     952 non-null    object
 4   departure_time     928 non-null    object
 5   arrival_date       967 non-null    object
 6   arrival_time       975 non-null    object
 7   duration           969 non-null    object
 8   airline            968 non-null    object
 9   price              930 non-null    object
dtypes: object(10)
memory usage: 78.3+ KB

In [10]:
dados.describe()

,flight_number,departure_airport,arrival_airport,departure_date,departure_time,arrival_date,arrival_time,duration,airline,price
count,962,956,939,952,928,967,975,969,968,930
unique,903,906,887,532,676,550,707,814,20,926
top,6429,0,0,12/21/2022,3:32 AM,9/1/2021,6:26 AM,10.26,United,351.04
freq,3,4,7,7,4,6,4,4,114,2

### Lidando com dados nulos

In [11]:
# verificando dados nulos através do método isnull()
dados.isnull()

,flight_number,departure_airport,arrival_airport,departure_date,departure_time,arrival_date,arrival_time,duration,airline,price
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,True,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,True,False,False,False,False
996,True,False,False,False,False,False,False,True,False,False
997,False,False,True,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,True,True,False,False,False

In [12]:
dados.isnull().sum()

flight_number        38
departure_airport    44
arrival_airport      61
departure_date       48
departure_time       72
arrival_date         33
arrival_time         25
duration             31
airline              32
price                70
dtype: int64

In [13]:
# selecionando os dados nulos
dados[dados.isna().any(axis=1)]

,flight_number,departure_airport,arrival_airport,departure_date,departure_time,arrival_date,arrival_time,duration,airline,price
3,2167,NaN,NNL,11/7/2021,NaN,8/24/2021,6:34 PM,12.01,Southwest,735.86
4,2779,KNG,DRR,7/3/2022,NaN,6/6/2021,3:17 PM,22.04,Southwest,881.59
5,3189,CLM,KAO,5/25/2022,12:15 AM,NaN,11:23 PM,6.96,American,835.73
7,3181,YOY,NaN,4/5/2022,7:43 AM,9/8/2022,12:50 AM,10.53,United,861.09
9,8963,WAD,KIK,NaN,4:04 AM,8/9/2022,NaN,16.15,Lufthansa,121.37
...,...,...,...,...,...,...,...,...,...,...
994,6818,AZR,MDI,11/26/2021,NaN,3/8/2022,9:52 PM,10.12,JetBlue,201.36
995,6165,STB,AEK,6/18/2021,3:50 AM,NaN,4:25 AM,13.67,Southwest,818.74
996,NaN,BHT,KHS,9/29/2022,6:00 AM,3/9/2021,1:06 PM,NaN,British Airways,705.21
997,7147,RLG,NaN,9/27/2021,9:35 AM,6/14/2021,5:14 AM,4.16,Qatar Airways,86.77
999,4180,SVC,BRS,2/14/2021,12:58 PM,NaN,NaN,11.3,JetBlue,265.07

In [14]:
# É possível preencher os dados nulos com o método fillna() mas no nosso caso vamos apenas exclui-los utilizando o método dropna()
dados_sem_nulos = dados.dropna()
dados_sem_nulos

,flight_number,departure_airport,arrival_airport,departure_date,departure_time,arrival_date,arrival_time,duration,airline,price
0,9210,JZH,SKC,3/16/2022,12:10 PM,9/23/2021,12:51 AM,6.84,Air France,68.02
1,1845,BNT,BMF,8/4/2022,12:21 AM,10/25/2021,1:22 AM,6.12,Delta,279.96
2,8694,EIN,TGZ,6/11/2021,11:54 PM,8/26/2022,9:36 AM,16.66,Delta,614.39
6,7877,KRU,DRE,6/15/2021,2:49 AM,8/10/2021,4:22 AM,22.34,American,876.74
8,2193,DQA,NQU,1/17/2021,5:17 AM,11/12/2022,6:03 AM,19.57,American,811.75
...,...,...,...,...,...,...,...,...,...,...
987,7666,UMD,GDD,6/8/2022,11:23 PM,6/25/2021,6:24 PM,20.43,United,250.82
988,7462,XGG,AXU,12/23/2022,12:03 PM,2/22/2022,7:37 PM,8.71,Lufthansa,690.19
989,3510,OPO,LUN,3/21/2022,7:07 AM,5/1/2022,9:20 PM,21.03,Delta,955.32
993,4370,SXJ,BND,11/17/2022,5:19 PM,1/8/2021,2:21 PM,5.83,JetBlue,552.21
998,9666,UBA,TBU,2/20/2022,12:27 PM,2/8/2022,3:17 PM,8.38,United,217.99

In [15]:
# Resetando o index
dados_sem_nulos.reset_index(drop=True, inplace=True)

In [16]:
dados_sem_nulos

,flight_number,departure_airport,arrival_airport,departure_date,departure_time,arrival_date,arrival_time,duration,airline,price
0,9210,JZH,SKC,3/16/2022,12:10 PM,9/23/2021,12:51 AM,6.84,Air France,68.02
1,1845,BNT,BMF,8/4/2022,12:21 AM,10/25/2021,1:22 AM,6.12,Delta,279.96
2,8694,EIN,TGZ,6/11/2021,11:54 PM,8/26/2022,9:36 AM,16.66,Delta,614.39
3,7877,KRU,DRE,6/15/2021,2:49 AM,8/10/2021,4:22 AM,22.34,American,876.74
4,2193,DQA,NQU,1/17/2021,5:17 AM,11/12/2022,6:03 AM,19.57,American,811.75
...,...,...,...,...,...,...,...,...,...,...
609,7666,UMD,GDD,6/8/2022,11:23 PM,6/25/2021,6:24 PM,20.43,United,250.82
610,7462,XGG,AXU,12/23/2022,12:03 PM,2/22/2022,7:37 PM,8.71,Lufthansa,690.19
611,3510,OPO,LUN,3/21/2022,7:07 AM,5/1/2022,9:20 PM,21.03,Delta,955.32
612,4370,SXJ,BND,11/17/2022,5:19 PM,1/8/2021,2:21 PM,5.83,JetBlue,552.21
613,9666,UBA,TBU,2/20/2022,12:27 PM,2/8/2022,3:17 PM,8.38,United,217.99

### Datetime / Parse (Gabriel)

In [17]:
# Checando tipos de dados
print(dados_sem_nulos.departure_date.dtype)
print(dados_sem_nulos.departure_time.dtype)
print(dados_sem_nulos.arrival_date.dtype)
print(dados_sem_nulos.arrival_time.dtype)

object
object
object
object

In [18]:
# Criando coluna já typada unindo dados de data e horário
departure_date_and_time = pd.to_datetime(dados_sem_nulos['departure_date']  + ' ' + dados_sem_nulos['departure_time'], errors='coerce')

# Inserindo coluna no dataframe
dados_sem_nulos.insert(3,'departure_date_and_time',departure_date_and_time)

# Checando tipo de dados
print(dados_sem_nulos.departure_date_and_time.dtype)

datetime64[ns]

In [19]:
# Criando coluna já typada unindo dados de data e horário
arrival_date_and_time = pd.to_datetime(dados_sem_nulos['arrival_date']  + ' ' + dados_sem_nulos['arrival_time'], errors='coerce')

# Inserindo coluna no dataframe
dados_sem_nulos.insert(6,'arrival_date_and_time',arrival_date_and_time)

# Checando tipo de dados
print(dados_sem_nulos.departure_date_and_time.dtype)

datetime64[ns]

C:\Users\mcemi\AppData\Local\Temp\ipykernel_42584\2145883638.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  arrival_date_and_time = pd.to_datetime(dados_sem_nulos['arrival_date']  + ' ' + dados_sem_nulos['arrival_time'], errors='coerce')

In [20]:
# Excluindo colunas antigas
df_parsed = dados_sem_nulos.drop(['departure_date', 'departure_time', 'arrival_date', 'arrival_time'],axis=1)

In [21]:
# Verificando o dataframe após alterações
df_parsed.head()

,flight_number,departure_airport,arrival_airport,departure_date_and_time,arrival_date_and_time,duration,airline,price
0,9210,JZH,SKC,2022-03-16 12:10:00,2021-09-23 00:51:00,6.84,Air France,68.02
1,1845,BNT,BMF,2022-08-04 00:21:00,2021-10-25 01:22:00,6.12,Delta,279.96
2,8694,EIN,TGZ,2021-06-11 23:54:00,2022-08-26 09:36:00,16.66,Delta,614.39
3,7877,KRU,DRE,2021-06-15 02:49:00,2021-08-10 04:22:00,22.34,American,876.74
4,2193,DQA,NQU,2021-01-17 05:17:00,2022-11-12 06:03:00,19.57,American,811.75

### Lidando com números (Bruno)

In [22]:
# temos dados numéricos na coluna 'duration' e 'price', vamos analisar primeiramente a coluna 'price'
df_parsed.price.describe()

count        614
unique       612
top       843.02
freq           2
Name: price, dtype: object

In [23]:
# tentativa de conversão dos dados de 'str' para 'float64'
df_parsed.price.astype('float64')

ValueError: could not convert string to float: '131;61'

In [24]:
# utilizaremos a função str.replace para trocar possíveis problemas de digitação por ponto
df_parsed['price'] = df_parsed['price'].str.replace(';', '.').str.replace(' ', '.').str.replace(',', '.').str.replace('-', '.')

In [25]:
# agora faremos a conversão da coluna de 'str' para 'float64'
df_parsed['price'] = pd.to_numeric(df_parsed['price'])

# verificando
df_parsed['price'].head()

0     68.02
1    279.96
2    614.39
3    876.74
4    811.75
Name: price, dtype: float64

In [26]:
# agora vamos lidar com a coluna 'duration'
df_parsed.duration.describe()

count       614
unique      547
top       20.66
freq          3
Name: duration, dtype: object

In [27]:
# tentativa de conversão dos dados de 'str' para 'float64'
df_parsed.duration.astype('float64')

ValueError: could not convert string to float: '3;47'

In [28]:
# agora vamos lidar com a coluna 'duration', da mesma forma que a coluna 'price'
df_parsed['duration'] = df_parsed['duration'].str.replace(';', '.').str.replace(' ', '.').str.replace(',', '.').str.replace('-', '.')
df_parsed['duration'] = pd.to_numeric(df_parsed['duration'])

# ver
df_parsed['duration'].head()

0     6.84
1     6.12
2    16.66
3    22.34
4    19.57
Name: duration, dtype: float64

### Lidando com strings (Marcos)

In [29]:
# Criando uma cópia do dataframe
df_strings = df_parsed.copy()
df_strings

,flight_number,departure_airport,arrival_airport,departure_date_and_time,arrival_date_and_time,duration,airline,price
0,9210,JZH,SKC,2022-03-16 12:10:00,2021-09-23 00:51:00,6.84,Air France,68.02
1,1845,BNT,BMF,2022-08-04 00:21:00,2021-10-25 01:22:00,6.12,Delta,279.96
2,8694,EIN,TGZ,2021-06-11 23:54:00,2022-08-26 09:36:00,16.66,Delta,614.39
3,7877,KRU,DRE,2021-06-15 02:49:00,2021-08-10 04:22:00,22.34,American,876.74
4,2193,DQA,NQU,2021-01-17 05:17:00,2022-11-12 06:03:00,19.57,American,811.75
...,...,...,...,...,...,...,...,...
609,7666,UMD,GDD,2022-06-08 23:23:00,2021-06-25 18:24:00,20.43,United,250.82
610,7462,XGG,AXU,2022-12-23 12:03:00,2022-02-22 19:37:00,8.71,Lufthansa,690.19
611,3510,OPO,LUN,2022-03-21 07:07:00,2022-05-01 21:20:00,21.03,Delta,955.32
612,4370,SXJ,BND,2022-11-17 17:19:00,2021-01-08 14:21:00,5.83,JetBlue,552.21
613,9666,UBA,TBU,2022-02-20 12:27:00,2022-02-08 15:17:00,8.38,United,217.99

In [30]:
# Usando os métodos UPPER e lower para deixar em caixa alta e caixa baixa

df_strings['departure_airport'] = df_strings['departure_airport'].apply(lambda x: x.lower())
df_strings['airline'] = df_strings['airline'].apply(lambda x: x.upper())
df_strings

,flight_number,departure_airport,arrival_airport,departure_date_and_time,arrival_date_and_time,duration,airline,price
0,9210,jzh,SKC,2022-03-16 12:10:00,2021-09-23 00:51:00,6.84,AIR FRANCE,68.02
1,1845,bnt,BMF,2022-08-04 00:21:00,2021-10-25 01:22:00,6.12,DELTA,279.96
2,8694,ein,TGZ,2021-06-11 23:54:00,2022-08-26 09:36:00,16.66,DELTA,614.39
3,7877,kru,DRE,2021-06-15 02:49:00,2021-08-10 04:22:00,22.34,AMERICAN,876.74
4,2193,dqa,NQU,2021-01-17 05:17:00,2022-11-12 06:03:00,19.57,AMERICAN,811.75
...,...,...,...,...,...,...,...,...
609,7666,umd,GDD,2022-06-08 23:23:00,2021-06-25 18:24:00,20.43,UNITED,250.82
610,7462,xgg,AXU,2022-12-23 12:03:00,2022-02-22 19:37:00,8.71,LUFTHANSA,690.19
611,3510,opo,LUN,2022-03-21 07:07:00,2022-05-01 21:20:00,21.03,DELTA,955.32
612,4370,sxj,BND,2022-11-17 17:19:00,2021-01-08 14:21:00,5.83,JETBLUE,552.21
613,9666,uba,TBU,2022-02-20 12:27:00,2022-02-08 15:17:00,8.38,UNITED,217.99

In [31]:
# Verificando se a mediana de comprimento dos aeroportos de saída é 3 mesmo
import numpy as np
np.median(df_strings['departure_airport'].str.len().values)

3.0

In [32]:
# Buscando aeroportos de saída que não contenham 3 caracteres
df_strings[df_strings['departure_airport'].str.len() != 3]

,flight_number,departure_airport,arrival_airport,departure_date_and_time,arrival_date_and_time,duration,airline,price
13,5673,nh z,YSH,2021-08-29 00:13:00,2022-10-31 06:34:00,7.94,UNITED,921.87
125,9190,0,BNS,2022-05-29 16:46:00,2021-04-30 06:26:00,15.89,LUFTHANSA,167.42
148,7603,0,DRS,2021-04-01 03:49:00,2021-01-19 02:26:00,3.74,JETBLUE,753.91
529,9552,0,RNI,2022-04-21 08:34:00,2021-06-24 20:35:00,18.61,EMIRATES,439.95

In [33]:
# Substituindo espaços em branco 
df_strings['departure_airport'] = df_strings['departure_airport'].str.replace(' ', '')
df_strings['arrival_airport'] = df_strings['arrival_airport'].str.replace(' ', '')

In [34]:
# Checando se foi efetivo
df_strings[df_strings['departure_airport'].str.len() != 3]

,flight_number,departure_airport,arrival_airport,departure_date_and_time,arrival_date_and_time,duration,airline,price
125,9190,0,BNS,2022-05-29 16:46:00,2021-04-30 06:26:00,15.89,LUFTHANSA,167.42
148,7603,0,DRS,2021-04-01 03:49:00,2021-01-19 02:26:00,3.74,JETBLUE,753.91
529,9552,0,RNI,2022-04-21 08:34:00,2021-06-24 20:35:00,18.61,EMIRATES,439.95

In [35]:

df_strings[df_strings['arrival_airport'].str.len() != 3]

,flight_number,departure_airport,arrival_airport,departure_date_and_time,arrival_date_and_time,duration,airline,price
9,2254,kkk,0,2021-05-09 19:59:00,2022-02-02 18:36:00,13.39,AIR FRANCE,681.01
32,9197,gdo,0,2022-07-27 08:36:00,2022-06-19 12:16:00,12.60,LUFTHANSA,437.47
146,7274,cfg,0,2021-12-22 00:02:00,2021-11-23 13:12:00,10.15,AMERICAN,912.48
462,1609,aph,0,2022-12-21 06:43:00,2022-10-09 07:30:00,18.66,SOUTHWEST,744.24

In [36]:
# Buscando aeroportos que contenham a letra "W"
df_strings[df_strings['arrival_airport'].str.contains('W')]

,flight_number,departure_airport,arrival_airport,departure_date_and_time,arrival_date_and_time,duration,airline,price
29,9363,vih,LIW,2022-06-08 06:25:00,2021-05-05 19:34:00,15.98,EMIRATES,229.76
46,3274,kdu,LWR,2022-10-12 08:19:00,2021-08-05 07:24:00,15.19,UNITED,891.19
70,5020,ntg,MWR,2022-08-21 11:54:00,2021-01-02 14:07:00,14.70,SOUTHWEST,970.18
82,6104,lkw,SYW,2022-12-03 23:08:00,2022-07-03 15:45:00,17.84,BRITISH AIRWAYS,503.08
84,7110,arj,GWV,2021-06-12 07:07:00,2022-05-23 08:37:00,8.87,DELTA,287.69
96,1436,qlp,WPA,2022-09-25 11:36:00,2022-12-05 23:57:00,6.21,BRITISH AIRWAYS,371.80
116,9885,bby,WAQ,2022-08-30 08:45:00,2022-03-10 00:29:00,1.50,SOUTHWEST,93.62
134,4087,aeu,LWV,2022-02-13 05:56:00,2021-05-25 22:18:00,7.94,LUFTHANSA,842.01
141,2470,lbe,SMW,2022-04-20 00:27:00,2021-12-22 01:53:00,21.45,JETBLUE,438.01
157,3053,pos,TIW,2021-08-16 23:26:00,2021-03-02 05:24:00,4.36,SOUTHWEST,272.45
166,1529,ype,AWM,2021-06-18 20:58:00,2021-05-31 03:32:00,16.25,EMIRATES,232.27
172,2059,ush,SHW,2022-04-23 01:16:00,2021-04-24 16:47:00,11.60,QATAR AIRWAYS,910.74
192,5644,pdk,WTE,2022-04-10 17:42:00,2022-02-28 12:24:00,16.66,QATAR AIRWAYS,975.18
198,5405,rhl,SWT,2022-04-25 00:16:00,2021-03-02 10:20:00,15.87,AMERICAN,295.97
211,9172,rdr,WKL,2022-05-01 23:03:00,2021-01-16 11:21:00,13.40,QATAR AIRWAYS,327.00
228,6692,nnr,WVI,2022-12-25 21:15:00,2021-06-10 21:17:00,20.66,AMERICAN,281.55
232,2117,kjp,GWL,2022-04-05 21:20:00,2021-03-18 12:28:00,3.05,EM IRATES,612.64
244,6398,mwz,WSY,2022-01-13 03:48:00,2021-10-17 14:17:00,20.08,SOUTHWEST,678.68
255,8505,rze,WPO,2022-03-16 06:40:00,2022-07-10 20:03:00,19.12,DELTA,659.02
268,5791,egp,WBO,2021-04-25 13:46:00,2022-07-20 01:17:00,4.99,AMERICAN,688.55
290,3226,olq,MWR,2021-06-25 20:55:00,2022-09-15 10:41:00,17.55,SOUTHWEST,447.64
292,2457,bmo,WKR,2022-12-17 01:35:00,2022-12-16 23:23:00,7.81,AMERICAN,496.26
299,6035,fcn,QRW,2021-06-12 14:18:00,2022-04-16 16:48:00,16.76,LUFTHANSA,165.03
303,3293,ove,MWD,2021-04-20 03:32:00,2021-06-19 17:36:00,14.99,QATAR AIRWAYS,603.13
324,3162,rmq,BWT,2022-04-13 20:35:00,2022-03-20 18:24:00,22.97,UNITED,508.67
330,9270,tmp,LGW,2021-05-31 08:15:00,2021-02-01 12:46:00,4.80,UNITED,871.12
366,2312,imp,WKI,2022-08-15 12:46:00,2022-04-12 22:16:00,16.98,EMIRATES,733.57
367,5239,uae,IWJ,2022-05-09 01:06:00,2021-12-12 12:01:00,3.63,JETBLUE,282.02
379,5476,bwm,EBW,2022-06-07 13:46:00,2022-10-01 16:19:00,2.39,EMIRATES,410.91
397,9523,yan,WMX,2022-09-28 03:26:00,2021-02-05 13:05:00,21.13,AIR FRANCE,617.34
409,6104,qjb,GWL,2021-11-01 19:35:00,2021-04-14 15:10:00,5.04,AIR FRANCE,974.51
426,5664,biw,LIW,2022-01-09 22:17:00,2022-05-28 02:41:00,13.77,JETBLUE,180.68
432,1980,rcn,WUV,2021-05-08 02:38:00,2022-08-19 03:37:00,15.57,BRITISH AIRWAYS,382.55
452,7454,uax,PWK,2022-08-09 23:56:00,2021-04-25 07:07:00,10.70,EMIR ATES,459.01
454,4491,rea,SLW,2022-08-24 17:34:00,2021-05-14 04:51:00,17.69,AMERICAN,823.50
461,8957,avr,EWY,2022-06-11 11:58:00,2021-02-25 22:02:00,2.50,JETBLUE,503.18
499,1249,mbw,WVK,2021-11-15 20:13:00,2021-11-13 20:24:00,1.28,AIR FRANCE,898.39
501,6715,yag,SWG,2021-09-11 09:06:00,2022-07-19 19:37:00,12.30,EMIRATES,799.42
508,8421,bqa,WJU,2022-02-05 02:11:00,2022-03-01 05:22:00,15.97,BRITISH AIRWAYS,466.23
517,1606,nyk,WLR,2021-03-12 07:42:00,2022-07-18 23:47:00,23.41,DELTA,508.28
534,6615,ica,WED,2022-12-03 03:19:00,2021-11-18 07:43:00,9.81,AIR FRANCE,247.00
535,1523,iwd,WMN,2021-11-13 05:05:00,2022-09-10 03:38:00,8.20,UNITED,756.08
545,9275,duk,WRE,2022-07-08 02:40:00,2021-11-14 22:53:00,15.17,EMIRATES?,929.74
552,7949,hvs,AIW,2021-12-12 23:04:00,2021-08-02 01:14:00,5.14,LUFTHANSA,428.09
569,1231,sji,WCA,2022-08-03 14:42:00,2021-08-27 08:29:00,18.69,AIR FRANCE,105.73
579,7585,cvm,WDR,2022-03-17 07:50:00,2022-02-15 21:02:00,20.72,QATAR AIRWAYS,453.42
585,8759,aif,MWQ,2022-08-29 16:01:00,2021-02-02 15:07:00,16.32,QATAR AIRWAYS,919.28
592,5023,ung,WHS,2021-05-31 06:38:00,2021-07-26 16:53:00,12.60,UNITED,701.09

In [37]:
# Exibindo valores únicos
df_strings[df_strings['arrival_airport'].str.contains('W')]['arrival_airport'].unique()

array(['LIW', 'LWR', 'MWR', 'SYW', 'GWV', 'WPA', 'WAQ', 'LWV', 'SMW',
       'TIW', 'AWM', 'SHW', 'WTE', 'SWT', 'WKL', 'WVI', 'GWL', 'WSY',
       'WPO', 'WBO', 'WKR', 'QRW', 'MWD', 'BWT', 'LGW', 'WKI', 'IWJ',
       'EBW', 'WMX', 'WUV', 'PWK', 'SLW', 'EWY', 'WVK', 'SWG', 'WJU',
       'WLR', 'WED', 'WMN', 'WRE', 'AIW', 'WCA', 'WDR', 'MWQ', 'WHS'],
      dtype=object)

In [38]:
# Aeroportos que comecem com "S"
df_strings[df_strings['arrival_airport'].str.startswith('S')]['arrival_airport'].unique()

array(['SKC', 'SBM', 'SSL', 'SJA', 'SHL', 'SYW', 'SXV', 'SHQ', 'SDD',
       'SUT', 'SEP', 'SRD', 'SMW', 'SLH', 'SUX', 'SHW', 'STP', 'SCL',
       'SWT', 'SLJ', 'SJV', 'SKN', 'SMO', 'SDJ', 'SZX', 'SYS', 'SNV',
       'SGD', 'SGU', 'SFU', 'SXM', 'SSN', 'SGK', 'SHB', 'SLW', 'SJQ',
       'SDN', 'SWG', 'SHF', 'SUY', 'SHG', 'SCM', 'SOM', 'SNL', 'SZV'],
      dtype=object)

In [39]:
# Aeroportos que terminem com L
df_strings[df_strings['arrival_airport'].str.endswith('L')]['arrival_airport'].unique()

array(['SSL', 'RSL', 'SHL', 'KDL', 'SCL', 'DNL', 'PVL', 'WKL', 'GWL',
       'EIL', 'USL', 'NFL', 'IFL', 'CKL', 'TLL', 'YQL', 'ZCL', 'MYL',
       'ERL', 'AML', 'KTL', 'SNL', 'IUL', 'NBL', 'UYL'], dtype=object)

In [40]:
#Separando as letras do aeroporto de chegada
df_strings['arrival_airport_1'] = df_strings['arrival_airport'].str.slice(0, 1)
df_strings['arrival_airport_2'] = df_strings['arrival_airport'].str.slice(1, 2)
df_strings['arrival_airport_3'] = df_strings['arrival_airport'].str.slice(2, 3)
df_strings

,flight_number,departure_airport,arrival_airport,departure_date_and_time,arrival_date_and_time,duration,airline,price,arrival_airport_1,arrival_airport_2,arrival_airport_3
0,9210,jzh,SKC,2022-03-16 12:10:00,2021-09-23 00:51:00,6.84,AIR FRANCE,68.02,S,K,C
1,1845,bnt,BMF,2022-08-04 00:21:00,2021-10-25 01:22:00,6.12,DELTA,279.96,B,M,F
2,8694,ein,TGZ,2021-06-11 23:54:00,2022-08-26 09:36:00,16.66,DELTA,614.39,T,G,Z
3,7877,kru,DRE,2021-06-15 02:49:00,2021-08-10 04:22:00,22.34,AMERICAN,876.74,D,R,E
4,2193,dqa,NQU,2021-01-17 05:17:00,2022-11-12 06:03:00,19.57,AMERICAN,811.75,N,Q,U
...,...,...,...,...,...,...,...,...,...,...,...
609,7666,umd,GDD,2022-06-08 23:23:00,2021-06-25 18:24:00,20.43,UNITED,250.82,G,D,D
610,7462,xgg,AXU,2022-12-23 12:03:00,2022-02-22 19:37:00,8.71,LUFTHANSA,690.19,A,X,U
611,3510,opo,LUN,2022-03-21 07:07:00,2022-05-01 21:20:00,21.03,DELTA,955.32,L,U,N
612,4370,sxj,BND,2022-11-17 17:19:00,2021-01-08 14:21:00,5.83,JETBLUE,552.21,B,N,D
613,9666,uba,TBU,2022-02-20 12:27:00,2022-02-08 15:17:00,8.38,UNITED,217.99,T,B,U

In [41]:
df_strings.groupby('airline')['price'].mean()

airline
AIR FRANCE         535.116957
AMERICAN           529.688909
BRITISH AIRWAYS    551.242500
DELTA              502.064677
EM IRATES          612.640000
EMI RATES           74.270000
EMIIRATES          621.800000
EMIR ATES          512.795000
EMIRATES           548.999583
EMIRATES           304.960000
EMIRATES?          929.740000
EMMIRATES          325.340000
JETBLUE            511.409180
LUFTHANSA          492.005345
QATAR AIRWAYS      518.298113
SOUTHWEST          577.511304
UNITED             553.807465
Name: price, dtype: float64

In [42]:
# Valores únicos de cias aéreas
df_strings['airline'].unique()

array(['AIR FRANCE', 'DELTA', 'AMERICAN', 'JETBLUE', 'BRITISH AIRWAYS',
       'SOUTHWEST', 'QATAR AIRWAYS', 'UNITED', 'LUFTHANSA', 'EMIRATES',
       'EMMIRATES', 'EMIIRATES', 'EM IRATES', 'EMIRATES ', 'EMIR ATES',
       'EMI RATES', 'EMIRATES?'], dtype=object)

In [43]:
mapeamento = {
    'EMMIRATES': 'EMIRATES',
    'EMIIRATES': 'EMIRATES',
    'EM IRATES': 'EMIRATES',
    'EMIRATES ': 'EMIRATES',
    'EMIR ATES': 'EMIRATES',
    'EMI RATES': 'EMIRATES',
    'EMIRATES?': 'EMIRATES'
}

In [44]:
# Substitundo em "batch"
df_strings['airline'] = df_strings['airline'].replace(mapeamento)
df_strings['airline'].unique()

array(['AIR FRANCE', 'DELTA', 'AMERICAN', 'JETBLUE', 'BRITISH AIRWAYS',
       'SOUTHWEST', 'QATAR AIRWAYS', 'UNITED', 'LUFTHANSA', 'EMIRATES'],
      dtype=object)

In [45]:
df_strings.groupby('airline')['price'].mean()

airline
AIR FRANCE         535.116957
AMERICAN           529.688909
BRITISH AIRWAYS    551.242500
DELTA              502.064677
EMIRATES           540.112857
JETBLUE            511.409180
LUFTHANSA          492.005345
QATAR AIRWAYS      518.298113
SOUTHWEST          577.511304
UNITED             553.807465
Name: price, dtype: float64

In [46]:
# Separando com base no caracter
df_strings[['airline_split1', 'airline_split2']] = df_strings['airline'].str.split(" ", expand=True)
df_strings

,flight_number,departure_airport,arrival_airport,departure_date_and_time,arrival_date_and_time,duration,airline,price,arrival_airport_1,arrival_airport_2,arrival_airport_3,airline_split1,airline_split2
0,9210,jzh,SKC,2022-03-16 12:10:00,2021-09-23 00:51:00,6.84,AIR FRANCE,68.02,S,K,C,AIR,FRANCE
1,1845,bnt,BMF,2022-08-04 00:21:00,2021-10-25 01:22:00,6.12,DELTA,279.96,B,M,F,DELTA,None
2,8694,ein,TGZ,2021-06-11 23:54:00,2022-08-26 09:36:00,16.66,DELTA,614.39,T,G,Z,DELTA,None
3,7877,kru,DRE,2021-06-15 02:49:00,2021-08-10 04:22:00,22.34,AMERICAN,876.74,D,R,E,AMERICAN,None
4,2193,dqa,NQU,2021-01-17 05:17:00,2022-11-12 06:03:00,19.57,AMERICAN,811.75,N,Q,U,AMERICAN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,7666,umd,GDD,2022-06-08 23:23:00,2021-06-25 18:24:00,20.43,UNITED,250.82,G,D,D,UNITED,None
610,7462,xgg,AXU,2022-12-23 12:03:00,2022-02-22 19:37:00,8.71,LUFTHANSA,690.19,A,X,U,LUFTHANSA,None
611,3510,opo,LUN,2022-03-21 07:07:00,2022-05-01 21:20:00,21.03,DELTA,955.32,L,U,N,DELTA,None
612,4370,sxj,BND,2022-11-17 17:19:00,2021-01-08 14:21:00,5.83,JETBLUE,552.21,B,N,D,JETBLUE,None
613,9666,uba,TBU,2022-02-20 12:27:00,2022-02-08 15:17:00,8.38,UNITED,217.99,T,B,U,UNITED,None