## Trabalho Linguagens de Programação - Biblioteca Pandas

Alunos: Barbara Rosa, Bruno Chimentão, Gabriel Vieira, Marcos Cemim

        - O Pandas é uma biblioteca de software livre para a linguagem de programação Python, projetada para facilitar a manipulação e análise de dados.

        - É construído sobre a biblioteca NumPy e fornece estruturas de dados fáceis de usar, como Series e DataFrame, que são essenciais para lidar com dados tabulares.

In [2]:
# Baixando a biblioteca pandas
%pip install pandas

Requirement already satisfied: pandas in c:\users\barbn\appdata\local\programs\python\python312\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\barbn\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\barbn\appdata\roaming\python\python312\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\barbn\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\barbn\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\barbn\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
# Importando a biblioteca pandas
import pandas as pd

In [5]:
# Importando a base de dados
dados = pd.read_csv('MOCK_DATA.csv', sep=',')
dados.head()

,flight_number,departure_airport,arrival_airport,departure_date,departure_time,arrival_date,arrival_time,duration,airline,price
0,9210,JZH,SKC,3/16/2022,12:10 PM,9/23/2021,12:51 AM,6.84,Air France,68.02
1,1845,BNT,BMF,8/4/2022,12:21 AM,10/25/2021,1:22 AM,6.12,Delta,279.96
2,8694,EIN,TGZ,6/11/2021,11:54 PM,8/26/2022,9:36 AM,16.66,Delta,614.39
3,2167,NaN,NNL,11/7/2021,NaN,8/24/2021,6:34 PM,12.01,Southwest,735.86
4,2779,KNG,DRR,7/3/2022,NaN,6/6/2021,3:17 PM,22.04,Southwest,881.59

In [7]:
# Analisando as informações
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   flight_number      962 non-null    object
 1   departure_airport  956 non-null    object
 2   arrival_airport    939 non-null    object
 3   departure_date     952 non-null    object
 4   departure_time     928 non-null    object
 5   arrival_date       967 non-null    object
 6   arrival_time       975 non-null    object
 7   duration           969 non-null    object
 8   airline            968 non-null    object
 9   price              930 non-null    object
dtypes: object(10)
memory usage: 78.3+ KB