## Trabalho Linguagens de Programação - Biblioteca Pandas

Alunos: Barbara Rosa, Bruno Chimentão, Gabriel Vieira, Marcos Cemim

        - O Pandas é uma biblioteca de software livre para a linguagem de programação Python, projetada para facilitar a manipulação e análise de dados.

        - É construído sobre a biblioteca NumPy e fornece estruturas de dados fáceis de usar, como Series e DataFrame, que são essenciais para lidar com dados tabulares.

### Visualização de dados e tratamento de dados faltantes (Barbara)

In [1]:
# Baixando a biblioteca pandas
%pip install pandas

Requirement already satisfied: pandas in /home/hub/.pyenv/versions/3.11.5/lib/python3.11/site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.23.2 in /home/hub/.pyenv/versions/3.11.5/lib/python3.11/site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/hub/.pyenv/versions/3.11.5/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/hub/.pyenv/versions/3.11.5/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/hub/.pyenv/versions/3.11.5/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/hub/.pyenv/versions/3.11.5/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Importando a biblioteca pandas
import pandas as pd

In [3]:
# Importando a base de dados
dados = pd.read_csv('MOCK_DATA.csv', sep=',')
dados

,flight_number,departure_airport,arrival_airport,departure_date,departure_time,arrival_date,arrival_time,duration,airline,price
0,9210,JZH,SKC,3/16/2022,12:10 PM,9/23/2021,12:51 AM,6.84,Air France,68.02
1,1845,BNT,BMF,8/4/2022,12:21 AM,10/25/2021,1:22 AM,6.12,Delta,279.96
2,8694,EIN,TGZ,6/11/2021,11:54 PM,8/26/2022,9:36 AM,16.66,Delta,614.39
3,2167,NaN,NNL,11/7/2021,NaN,8/24/2021,6:34 PM,12.01,Southwest,735.86
4,2779,KNG,DRR,7/3/2022,NaN,6/6/2021,3:17 PM,22.04,Southwest,881.59
...,...,...,...,...,...,...,...,...,...,...
995,6165,STB,AEK,6/18/2021,3:50 AM,NaN,4:25 AM,13.67,Southwest,818.74
996,NaN,BHT,KHS,9/29/2022,6:00 AM,3/9/2021,1:06 PM,NaN,British Airways,705.21
997,7147,RLG,NaN,9/27/2021,9:35 AM,6/14/2021,5:14 AM,4.16,Qatar Airways,86.77
998,9666,UBA,TBU,2/20/2022,12:27 PM,2/8/2022,3:17 PM,8.38,United,217.99
999,4180,SVC,BRS,2/14/2021,12:58 PM,NaN,NaN,11.3,JetBlue,265.07

In [4]:
# visualizando os 5 primeiros registros
dados.head()

,flight_number,departure_airport,arrival_airport,departure_date,departure_time,arrival_date,arrival_time,duration,airline,price
0,9210,JZH,SKC,3/16/2022,12:10 PM,9/23/2021,12:51 AM,6.84,Air France,68.02
1,1845,BNT,BMF,8/4/2022,12:21 AM,10/25/2021,1:22 AM,6.12,Delta,279.96
2,8694,EIN,TGZ,6/11/2021,11:54 PM,8/26/2022,9:36 AM,16.66,Delta,614.39
3,2167,NaN,NNL,11/7/2021,NaN,8/24/2021,6:34 PM,12.01,Southwest,735.86
4,2779,KNG,DRR,7/3/2022,NaN,6/6/2021,3:17 PM,22.04,Southwest,881.59

In [5]:
# visualizando os 5 registros finais
dados.tail()

,flight_number,departure_airport,arrival_airport,departure_date,departure_time,arrival_date,arrival_time,duration,airline,price
995,6165,STB,AEK,6/18/2021,3:50 AM,NaN,4:25 AM,13.67,Southwest,818.74
996,NaN,BHT,KHS,9/29/2022,6:00 AM,3/9/2021,1:06 PM,NaN,British Airways,705.21
997,7147,RLG,NaN,9/27/2021,9:35 AM,6/14/2021,5:14 AM,4.16,Qatar Airways,86.77
998,9666,UBA,TBU,2/20/2022,12:27 PM,2/8/2022,3:17 PM,8.38,United,217.99
999,4180,SVC,BRS,2/14/2021,12:58 PM,NaN,NaN,11.3,JetBlue,265.07

In [6]:
# verificando o tipo da variavel dados
type(dados)

pandas.core.frame.DataFrame

In [7]:
# visualizando a quantidade de linhas e colunas que nossa base possui
dados.shape

(1000, 10)

In [8]:
# visualizando quais são as colunas
dados.columns

Index(['flight_number', 'departure_airport', 'arrival_airport',
       'departure_date', 'departure_time', 'arrival_date', 'arrival_time',
       'duration', 'airline', 'price'],
      dtype='object')

In [9]:
# visualizando o tipo de dado de cada coluna e se há dados nulos
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   flight_number      962 non-null    object
 1   departure_airport  956 non-null    object
 2   arrival_airport    939 non-null    object
 3   departure_date     952 non-null    object
 4   departure_time     928 non-null    object
 5   arrival_date       967 non-null    object
 6   arrival_time       975 non-null    object
 7   duration           969 non-null    object
 8   airline            968 non-null    object
 9   price              930 non-null    object
dtypes: object(10)
memory usage: 78.3+ KB

In [10]:
dados.describe()

,flight_number,departure_airport,arrival_airport,departure_date,departure_time,arrival_date,arrival_time,duration,airline,price
count,962,956,939,952,928,967,975,969,968,930
unique,903,906,887,532,676,550,707,814,20,926
top,6429,0,0,12/21/2022,3:32 AM,9/1/2021,6:26 AM,10.26,United,351.04
freq,3,4,7,7,4,6,4,4,114,2

### Lidando com dados nulos

In [11]:
# verificando dados nulos através do método isnull()
dados.isnull()

,flight_number,departure_airport,arrival_airport,departure_date,departure_time,arrival_date,arrival_time,duration,airline,price
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,True,False,False,False,False,False
4,False,False,False,False,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,True,False,False,False,False
996,True,False,False,False,False,False,False,True,False,False
997,False,False,True,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,True,True,False,False,False

In [12]:
dados.isnull().sum()

flight_number        38
departure_airport    44
arrival_airport      61
departure_date       48
departure_time       72
arrival_date         33
arrival_time         25
duration             31
airline              32
price                70
dtype: int64

In [13]:
# selecionando os dados nulos
dados[dados.isna().any(axis=1)]

,flight_number,departure_airport,arrival_airport,departure_date,departure_time,arrival_date,arrival_time,duration,airline,price
3,2167,NaN,NNL,11/7/2021,NaN,8/24/2021,6:34 PM,12.01,Southwest,735.86
4,2779,KNG,DRR,7/3/2022,NaN,6/6/2021,3:17 PM,22.04,Southwest,881.59
5,3189,CLM,KAO,5/25/2022,12:15 AM,NaN,11:23 PM,6.96,American,835.73
7,3181,YOY,NaN,4/5/2022,7:43 AM,9/8/2022,12:50 AM,10.53,United,861.09
9,8963,WAD,KIK,NaN,4:04 AM,8/9/2022,NaN,16.15,Lufthansa,121.37
...,...,...,...,...,...,...,...,...,...,...
994,6818,AZR,MDI,11/26/2021,NaN,3/8/2022,9:52 PM,10.12,JetBlue,201.36
995,6165,STB,AEK,6/18/2021,3:50 AM,NaN,4:25 AM,13.67,Southwest,818.74
996,NaN,BHT,KHS,9/29/2022,6:00 AM,3/9/2021,1:06 PM,NaN,British Airways,705.21
997,7147,RLG,NaN,9/27/2021,9:35 AM,6/14/2021,5:14 AM,4.16,Qatar Airways,86.77
999,4180,SVC,BRS,2/14/2021,12:58 PM,NaN,NaN,11.3,JetBlue,265.07

In [14]:
# É possível preencher os dados nulos com o método fillna() mas no nosso caso vamos apenas exclui-los utilizando o método dropna()
dados_sem_nulos = dados.dropna()
dados_sem_nulos

,flight_number,departure_airport,arrival_airport,departure_date,departure_time,arrival_date,arrival_time,duration,airline,price
0,9210,JZH,SKC,3/16/2022,12:10 PM,9/23/2021,12:51 AM,6.84,Air France,68.02
1,1845,BNT,BMF,8/4/2022,12:21 AM,10/25/2021,1:22 AM,6.12,Delta,279.96
2,8694,EIN,TGZ,6/11/2021,11:54 PM,8/26/2022,9:36 AM,16.66,Delta,614.39
6,7877,KRU,DRE,6/15/2021,2:49 AM,8/10/2021,4:22 AM,22.34,American,876.74
8,2193,DQA,NQU,1/17/2021,5:17 AM,11/12/2022,6:03 AM,19.57,American,811.75
...,...,...,...,...,...,...,...,...,...,...
987,7666,UMD,GDD,6/8/2022,11:23 PM,6/25/2021,6:24 PM,20.43,United,250.82
988,7462,XGG,AXU,12/23/2022,12:03 PM,2/22/2022,7:37 PM,8.71,Lufthansa,690.19
989,3510,OPO,LUN,3/21/2022,7:07 AM,5/1/2022,9:20 PM,21.03,Delta,955.32
993,4370,SXJ,BND,11/17/2022,5:19 PM,1/8/2021,2:21 PM,5.83,JetBlue,552.21
998,9666,UBA,TBU,2/20/2022,12:27 PM,2/8/2022,3:17 PM,8.38,United,217.99

In [15]:
# Resetando o index
dados_sem_nulos.reset_index(drop=True, inplace=True)

In [16]:
dados_sem_nulos

,flight_number,departure_airport,arrival_airport,departure_date,departure_time,arrival_date,arrival_time,duration,airline,price
0,9210,JZH,SKC,3/16/2022,12:10 PM,9/23/2021,12:51 AM,6.84,Air France,68.02
1,1845,BNT,BMF,8/4/2022,12:21 AM,10/25/2021,1:22 AM,6.12,Delta,279.96
2,8694,EIN,TGZ,6/11/2021,11:54 PM,8/26/2022,9:36 AM,16.66,Delta,614.39
3,7877,KRU,DRE,6/15/2021,2:49 AM,8/10/2021,4:22 AM,22.34,American,876.74
4,2193,DQA,NQU,1/17/2021,5:17 AM,11/12/2022,6:03 AM,19.57,American,811.75
...,...,...,...,...,...,...,...,...,...,...
609,7666,UMD,GDD,6/8/2022,11:23 PM,6/25/2021,6:24 PM,20.43,United,250.82
610,7462,XGG,AXU,12/23/2022,12:03 PM,2/22/2022,7:37 PM,8.71,Lufthansa,690.19
611,3510,OPO,LUN,3/21/2022,7:07 AM,5/1/2022,9:20 PM,21.03,Delta,955.32
612,4370,SXJ,BND,11/17/2022,5:19 PM,1/8/2021,2:21 PM,5.83,JetBlue,552.21
613,9666,UBA,TBU,2/20/2022,12:27 PM,2/8/2022,3:17 PM,8.38,United,217.99

### Datetime / Parse (Gabriel)

In [17]:
# Checando tipos de dados
print(dados_sem_nulos.departure_date.dtype)
print(dados_sem_nulos.departure_time.dtype)
print(dados_sem_nulos.arrival_date.dtype)
print(dados_sem_nulos.arrival_time.dtype)

object
object
object
object

In [18]:
# Criando coluna já typada unindo dados de data e horário
departure_date_and_time = pd.to_datetime(dados_sem_nulos['departure_date']  + ' ' + dados_sem_nulos['departure_time'], errors='coerce')

# Inserindo coluna no dataframe
dados_sem_nulos.insert(3,'departure_date_and_time',departure_date_and_time)

# Checando tipo de dados
print(dados_sem_nulos.departure_date_and_time.dtype)

datetime64[ns]

In [19]:
# Criando coluna já typada unindo dados de data e horário
arrival_date_and_time = pd.to_datetime(dados_sem_nulos['arrival_date']  + ' ' + dados_sem_nulos['arrival_time'], errors='coerce')

# Inserindo coluna no dataframe
dados_sem_nulos.insert(6,'arrival_date_and_time',arrival_date_and_time)

# Checando tipo de dados
print(dados_sem_nulos.departure_date_and_time.dtype)

datetime64[ns]

/tmp/ipykernel_5724/2145883638.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  arrival_date_and_time = pd.to_datetime(dados_sem_nulos['arrival_date']  + ' ' + dados_sem_nulos['arrival_time'], errors='coerce')

In [20]:
# Excluindo colunas antigas
df_parsed = dados_sem_nulos.drop(['departure_date', 'departure_time', 'arrival_date', 'arrival_time'],axis=1)

In [21]:
# Verificando o dataframe após alterações
df_parsed.head()

,flight_number,departure_airport,arrival_airport,departure_date_and_time,arrival_date_and_time,duration,airline,price
0,9210,JZH,SKC,2022-03-16 12:10:00,2021-09-23 00:51:00,6.84,Air France,68.02
1,1845,BNT,BMF,2022-08-04 00:21:00,2021-10-25 01:22:00,6.12,Delta,279.96
2,8694,EIN,TGZ,2021-06-11 23:54:00,2022-08-26 09:36:00,16.66,Delta,614.39
3,7877,KRU,DRE,2021-06-15 02:49:00,2021-08-10 04:22:00,22.34,American,876.74
4,2193,DQA,NQU,2021-01-17 05:17:00,2022-11-12 06:03:00,19.57,American,811.75

### Lidando com números (Bruno)

In [22]:
# temos dados numéricos na coluna 'duration' e 'price', vamos analisar primeiramente a coluna 'price'
df_parsed.price.describe()

count        614
unique       612
top       843.02
freq           2
Name: price, dtype: object

In [23]:
# tentativa de conversão dos dados de 'str' para 'float64'
df_parsed.price.astype('float64')

ValueError: could not convert string to float: '131;61'

In [24]:
# utilizaremos a função str.replace para trocar possíveis problemas de digitação por ponto
df_parsed['price'] = df_parsed['price'].str.replace(';', '.').str.replace(' ', '.').str.replace(',', '.').str.replace('-', '.')

In [25]:
# agora faremos a conversão da coluna de 'str' para 'float64'
df_parsed['price'] = pd.to_numeric(df_parsed['price'])

# verificando
df_parsed['price'].head()

0     68.02
1    279.96
2    614.39
3    876.74
4    811.75
Name: price, dtype: float64

In [26]:
# agora vamos lidar com a coluna 'duration'
df_parsed.duration.describe()

count       614
unique      547
top       20.66
freq          3
Name: duration, dtype: object

In [27]:
# tentativa de conversão dos dados de 'str' para 'float64'
df_parsed.duration.astype('float64')

ValueError: could not convert string to float: '3;47'

In [28]:
# agora vamos lidar com a coluna 'duration', da mesma forma que a coluna 'price'
df_parsed['duration'] = df_parsed['duration'].str.replace(';', '.').str.replace(' ', '.').str.replace(',', '.').str.replace('-', '.')
df_parsed['duration'] = pd.to_numeric(df_parsed['duration'])

# ver
df_parsed['duration'].head()

0     6.84
1     6.12
2    16.66
3    22.34
4    19.57
Name: duration, dtype: float64

### Lidando com strings (Marcos)